.footer-container {
    background-color: #04579B;
}

.footer {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 3rem 0;
}

td {
    width: 8rem;
    height: 2rem;
    text-align: center;
}

.tnc {
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}